<div class="row"> 
    <div class="offset-10 col-md-2">
      <!-- <a href="#">Create User</a> -->
      <button type="button" id="create" class="btn btn-success float-right margin-top-10" (click)="fnGoToCreateUser()">Create User</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Date of birth</th>
              <th>Gender</th>
              <th>User Name</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.userName}}</td>
              <td><button type="button" id="details" class="btn btn-light" (click)="fnGetUserDetails(user.userDetailsId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" (click)="fnGoToUpdateUser(user.userDetailsId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" (click)="fnDeleteUser(user.userDetailsId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>